

.contains:hover > div:nth-child(3){
    transform: translate(-15px,-15px);

    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -ms-transition:transform 0.3s ease-in-out;
}


