@tailwind base;
@tailwind components;
@tailwind utilities;

body, ul {
  margin: 0;
  padding: 0;
}

.root,
#root,
#docs-root {
  --light_green: #64ffda;
  --dark_green: #323f3c;
  --text_grey: #a0aec0;
  --text_dark_grey: #707b8d;
  --background: #0a192f;
  --menu_background: #112240;

}